<html>
  <head>
    <meta charset='utf-8' />
    <title></title>
  </head>
  <body>
    <div
      class='wrapper'
      style='box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;padding: 16px;'
    >
      <div class='wrapper-content'>
        <div
          class='title'
          style='font-size: 26px;font-weight: 600;margin-bottom: 24px;'
        >Your download is ready
        </div>
        <div class='content' style='margin-bottom: 24px;'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum
          delectus nesciunt repellat voluptatibus, fugiat autem ea nam aliquam
          blanditiis necessitatibus obcaecati eos enim natus rerum nemo minima
          magnam consequuntur.
        </div>
        <div>
          <a
            href={{filename}}
            class='download-btn'
            style='background-color: #007bff;color: #fff;font-size: 18px;font-weight: 500;border: 0px !important;padding: 10px 18px;text-decoration: none;'
          >Download File</a>
        </div>
      </div>
    </div>
  </body>
</html>